<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DumbleScore 2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>173786871DA137FA0031CFAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1737869B1DA137FA0031CFAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173786A61DA137FA0031CFAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
